.error-line {
  color: red;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: small;
  font-weight: bold;
  height: 20px;
}

.wrapper {
  height: calc(100% - 84px);
}
